.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    text-decoration: none;
    line-height: 1;
}

.button-logout {
    background: $dark-blue;
    padding: 0;
}

.button-secondary {
    background: #888888;
    margin: 0 0 0 $m-size;
}

.button-fb {
    margin-top: 6px;
}


.link {
    text-decoration: none;
    color: white;
    
}
