.header {
    background: $dark-blue;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
    color: $off-white;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header__user{
    img{
        border-radius: 50%;
        margin: 0;
        padding: 0;
        height: 10%;
        width: 10%;
        vertical-align: center;
    }
}
